build/
*.backup
*/temp_clone
*.code-workspace
.DS_Store
packages/**/pkg
packages/**/src
packages/**/*.tar.zst
packages/**/*.src.tar.*
packages/**/*.log
packages/**/*.tar.gz
packages/**/*.tar.bz2
packages/**/*.zip
__pycache__/
